body{
    background-color: white;
    height: 130vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 6rem);
    height: 10vh;
    padding: 0 3rem;
    background-color: #384B70;
    border-bottom: 5px solid #507687;
    box-shadow: 1px 7px 17px 0px #8a8a8a;
    margin-bottom: 2rem;

}

.nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;

    padding: 0;
    margin: 0;
}
.nav-ul li button,
.nav-ul li a{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.nav-ul li button{
    background-color: #507687;
    height: calc(10vh + 10px);
    border: none;
    border-bottom: 5px solid #384B70;
}
.my-posts-container,
.public-posts-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    gap: 2rem;
    background-color: white;
    min-height: 100vh;
    margin: auto;
}


.post-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 4px 12px #87a0ab;
    border-radius: 3px 10px 10px 3px;
    border: 1px solid #507687;
    border-left: 10px solid #507687;
}
.title{
    text-align: center;
    font-size: 1.5rem;
    text-align: left;
    color: #507687;
    width: 100%;
    margin: 0;
}
.post-title,
.post-text{
    padding-left: 10px;
    color: #507687 ;
}

.post-title{
    height: 5vh;

}
.post-text{
    height: 10vh;

}
.add-post-box{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 2rem;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: column;
    gap: 2rem;
    width: 50vw ;
    height: 70vh;
    background-color: white ;
    border-radius: 3px 10px 10px 3px;
    transition: 0.5s;
    border: 1px solid #507687;
    border-left: 10px solid #507687;

    box-shadow: 1px 7px 17px 0px #8b8b8b;

}
.add-post-box h2{
    color: #16423C;

}
.add-post-box input{
    width: 80%;
    border: none;
    border-radius: 0;
    height: 5vh;
    background-color: white;
    color: #507687;
    font-size: 1.1rem;
    padding-left:10px ;
    border: 1px solid #507687;
    border-left: 4px solid #507687;
}
.add-post-box input:focus{
    outline: none;
}
.add-post-box input::placeholder{
    color: #6f94a4;
    font-size: 1.1rem;
}

.add-post-box textarea{
    width: 80%;
    height: 20vh;
    background-color: white;
    color: #507687;
    font-size: 1.1rem;
    padding-left:10px ;
    border: none;
    border: 1px solid #507687;
    border-left: 4px solid #507687;
    outline: none;

}

.add-post-box textarea:focus{
    outline: none;
}
.add-post-box.show{
    top: 50%;
}

.delet-post-btn,
.add-post-btn{
    align-self: flex-end;
    width: 20%;
    background-color: #507687;
    color: #E9EFEC;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.close-btn{
    background-color: transparent;
    font-weight: 700;
    font-size: 2rem;
    border: none;
    color: #16423C;
}

.sign-up-box,
.log-in-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin: auto;
    width: 30vw;
    height: 40vh;
    padding: 0 15px;
    background-color: white ;
    border-radius: 3px 10px 10px 3px;
    border: 1px solid #507687;
    border-left: 10px solid #507687;
    box-shadow: 2px 4px 12px #87a0ab;

}

.sign-up-box{
    transform: translate(-50%,-30%);

    height: 100vh;
    width: 50vw;
}
.sign-up-box input,textarea,
.log-in-box input{
    width: calc(100% - 10px);
    height: 5vh;
    border: 1px solid #507687;
    border-radius: 3px;
    outline: none;

}
.user-about{
    height: 20vh;
}
.sign-up-box input:focus,
.log-in-box input:focus{
    outline: none;
}

.sign-up-box input:hover,
.log-in-box input:hover{
    outline: none;
    height: calc(5vh - 3px);
    border-bottom: 3px solid #384B70;
}
.delet-post-btn,
.add-post-btn,
.signup-btn,
.signin-btn{
    align-self: flex-end;
    font-size: 18px;
    background-color: #384B70;
    color: white;
    border: none;
    height: 5vh;
    width: 10vw;
    border-radius: 3px;
    border-left: 5px solid #507687;
    transition: 0.3s;
}
.delet-post-btn:hover,
.add-post-btn:hover,
.signup-btn:hover,
.signin-btn:hover{
    background-color: #507687;
    border-left: 5px solid #384B70;


}
.message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #C4DAD2;
    color: #16423C;
    font-size: 2rem;
    height: 30vh;
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 1px solid #16423C;
    text-align: center;
    transform: translate(-50%,-50%);
    margin: auto;
    box-shadow: 1px 7px 17px 0px #8b8b8b;

}

.user-info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30vh;
    margin: 20px auto;
    background-color: white;
    border-radius: 3px;
    border: 1px solid #507687;
    border-top: 10px solid #507687;
    box-shadow: 0px 0px 20px 0px #c0bdbd;

}

footer{
    position: absolute;
    bottom: 0%;
    height: 10vh;
    width: 100%;
    background-color: #507687;
}